<%= link_to 'New Group', new_group_path, class: 'btn btn-secondary text-white mb-3 d-block mx-auto' %>

<div class="card bg-primary">
  <h5 class="card-header fw-bold"> All Groups <em> (total: <%= @total %>) </em> </h5>
  <% @groups.each do |group| %>
      <div class="card-body border-bottom border-1 border-override-color p-1">
    <a class="ms-3 text-decoration-none text-white" href=<%= group_path(group) %> >
        <div class="d-flex">
          <% unless group.icon.nil? %>
            <%= image_tag(group.icon, size: 100, class: 'img-thumbnail') %>
          <% else %>
            <p class="col-4 py-3 bg-secondary text-center"> No image assigned </p>
          <% end %>
            <h5 class="card-title mx-auto"><%= group.name %></h5>
        </div>
        <time class="d-block text-end">
          <em><small><%= group.created_at.strftime('%a %d %b %Y') %></small></em>
        </time>
    </a>
      </div>
  <% end %>
</div>
