<h1 class="fw-bold">Signup</h1>

<%= form_with(model: @user, url: '/users') do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
    <div class="form-text text-white">No password must be provided as required on this Project's Specs</div>
  </div>

    <%= f.submit "Submit", class: 'btn btn-secondary' %>

<% end %>